<!DOCTYPE html>
<html>
<head>
  <title>Rabi</title>
  <%= stylesheet_link_tag    'rabi/application', media: 'all' %>
  <%= javascript_include_tag 'rabi/application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
